@model MusikPortal.Models.LoginModel
@using Microsoft.AspNetCore.Http

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="card c7">
        @if (Context.Session.GetString("login") == null)
        {
            @Html.ValidationSummary(true, "")
            <div>
                @Html.LabelFor(model => model.Login)
                <div>
                    @Html.EditorFor(model => model.Login)
                    @Html.ValidationMessageFor(model => model.Login, "")
                </div>
            </div>

            <div>
                @Html.LabelFor(model => model.Password)
                <div>
                    @Html.PasswordFor(model => model.Password)
                    @Html.ValidationMessageFor(model => model.Password, "")
                </div>
            </div>

            <div>
                <br>
                <div>
                    <input type="submit" value="Войти" />
                </div>
            </div>
        }

    </div>
}
