@using Microsoft.AspNetCore.Http

 @foreach (var s in ViewBag.Songs)
 {   <div class="c3">
       <div>
      
             <div class="card">
             <h4>@s.Name</h4>
           
      <div class="text-center">
            <video controls autoplay="autoplay" loop="loop" muted="muted" width="600" height="400">
            <source src=@s.file type="video/mp4">
           </video>
         </div>

            
            </div>
        </div>
       
            <div class="card ">
             <h1 >@s.artist.Name</h1>      
            <div class="c c1">@s.Name</div>
            <div class="c c1">Album:&nbsp;&nbsp;&nbsp;@s.Album</div>
            <div class="c c1">Year:&nbsp;&nbsp;&nbsp;@s.Year</div>
                <div class="c c1">@s.style.Name</div>
                <div>Text </div>
            <textarea readonly rows="5">@s.text</textarea><br /><br />
                @if (Context.Session.GetString("admin") != null)
                {
                    <div>
                        <a asp-controller="Admin" asp-action="EditSong" asp-route-id="@s.Id">Edit Song</a>
                    </div>
                    <br /><br />
                    <div >
                    <a asp-controller="Admin" asp-action="DeleteSong" asp-route-id="@s.Id">Delete Song</a>
                   </div>
                }
            </div>                     
    </div>
    <br />
 }
