@using Microsoft.AspNetCore.Http
@model MusikPortal.Models.RegisterModel
@section Scripts{
    <script>
        $(document).ready(function () {           
            getAllSongs();

            $("body").on("click", ".btn-music", function () {
                $("#str").val("");
                registrNone();
                loginNone();
                getAllSongs();             
                
            });

            $("body").on("click", ".btn-Login", function () {
                registrNone();
                login();
            });
            $("body").on("click", "#btn-cancel-registration", function () {
                registrNone();               
            });
            $("body").on("click", "#btn-cancel-log", function () {
                loginNone();
            });
            $("body").on("click", ".btn-Logout", function () {
                clearDialog();
                $.ajax({
                    url: '@Url.Action("Logout", "Login")',
                    type: 'GET',
                    contentType: false,
                    processData: false,
                    success: function (response) {                      
                        let l = document.getElementById("wellcome");
                        l.style.display = "none";
                        let lt = document.getElementById("enter");
                        lt.style.display = "flex";
                        let lm = document.getElementById("wait");
                        lm.style.display = "none";
                        let lg = document.getElementById("logout");
                        lg.style.display = "none";
                        let l2 = document.getElementById("artists");
                        l2.style.display = "none";
                        let l3 = document.getElementById("genres");
                        l3.style.display = "none";
                        let l4 = document.getElementById("users");
                        l4.style.display = "none";
                        let ls = document.getElementById("addSong");
                        ls.style.display = "none";
                        $(".admin").css("display", "none");
                        getAllSongs();
                    },
                    error: function (x, y, z) {
                        alert(x + '\n' + y + '\n' + z);
                    }
                });
            });

            $("body").on("click", ".btn-Reg", function () {
                loginNone();
                registr();
            });
            $("body").on("click", ".btn-find", function () {
                registrNone();
                loginNone();
               FindSongs();               
            });
            $("body").on("focus", "#log", function (e) {
                let l = document.getElementById("error-login");
                l.style.display = "none";
            });
            $("body").on("focus", "#pass", function (e) {
                let l = document.getElementById("error-login");
                l.style.display = "none";                
            });
           $("#btn-registration").on("click", function () {
               if ($("#Login").val() == "" || $("#email").val() == "" || $("#Password").val() == "") {
                    let l = document.getElementById("error-Reg");
                    l.style.display = "inline";
                }
                else if ($("#Password").val() != $("#PasswordConfirm").val()) {
                    let l = document.getElementById("error-RegPass");
                    l.style.display = "inline";
                }
                else if ($("#password-strength").html()!="") { }
               else {
                   let formData1 = new FormData();
                   formData1.append("Login", $("#Login").val());
                   $.ajax({
                       url: '@Url.Action("IsLoginInUse", "Login")',
                       type: 'POST',
                       contentType: false,
                       processData: false,
                       data: formData1,
                       success: function (response) {
                           if (response) {
                               alert("login is used!")
                               let l1 = document.getElementById("error-log");
                               l1.style.display = "inline";
                           }
                           else {
                               let formData2 = new FormData();
                               formData2.append("Email", $("#email").val());
                               $.ajax({
                                   url: '@Url.Action("IsEmailInUse", "Login")',
                                   type: 'GET',
                                   contentType: false,
                                   processData: false,
                                   data: formData2,
                                   success: function (response1) {
                                       if (response1) {
                                           alert("email is used!")
                                           let l2 = document.getElementById("error-email");
                                           l2.style.display = "inline";
                                       }
                                       else {
                                           let formData = new FormData();
                                           formData.append("Login", $("#Login").val());
                                           formData.append("Password", $("#Password").val());
                                           formData.append("PasswordConfirm", $("#PasswordConfirm").val());
                                           formData.append("Email", $("#email").val());
                                           formData.append("Age", $("#age").val());
                                           $.ajax({
                                               url: '@Url.Action("Registration", "Login")',
                                               type: 'POST',
                                               contentType: false,
                                               processData: false,
                                               data: formData,
                                               success: function (response2) {
                                                   if (response2) {
                                                       if (response2 == "age") {
                                                           let l3 = document.getElementById("#error-age");
                                                           l3.style.display = "inline";
                                                       }
                                                       else {
                                                           alert("registration is successful!");
                                                           registrNone();
                                                           ClearRegistr();
                                                           login();
                                                       }
                                                   }
                                               },
                                               error: function (x, y, z) {
                                                   alert(x + '\n' + y + '\n' + z);
                                               }
                                           });
                                       }
                                   },
                                   error: function (x, y, z) {
                                       alert(x + '\n' + y + '\n' + z);
                                   }
                               });

                           }
                       },
                       error: function (x, y, z) {
                           alert(x + '\n' + y + '\n' + z);
                       }
                   });

               }

            });
            $("#Login").on("focus", function () {
                let l1 = document.getElementById("error-Rlogin");
                l1.style.display = "none";
                let l2 = document.getElementById("error-Reg");
                l2.style.display = "none";
            });
            $("#login").on("focus", function () {
                let l1 = document.getElementById("error-log");
                l1.style.display = "none";
                let l2 = document.getElementById("error-Reg");
                l2.style.display = "none";
            });
            $("#Password").on("focus", function () {
                let l1 = document.getElementById("error-RegPass");
                l1.style.display = "none";
                let l2 = document.getElementById("error-Reg");
                l2.style.display = "none";
            });
            $("#PasswordConfirm").on("focus", function () {
                let l1 = document.getElementById("error-RegPass");
                l1.style.display = "none";
                let l2 = document.getElementById("error-Reg");
                l2.style.display = "none";
            });

            $("#btn-log").on("click", function () {
                let formData = new FormData();
                formData.append("Login", $("#log").val());
                formData.append("Password", $("#pass").val());
                $.ajax({
                    url: '@Url.Action("Login", "Login")',
                    type: 'POST',
                    contentType: false,
                    processData: false,
                    data: formData,
                    success: function (response) {
                        if (response) {
                            let l1 = document.getElementById("error-login");
                            l1.style.display = "none";
                            loginNone();
                            ClearLogin();
                            checkUser(response);

                        }
                        else {
                            let l5 = document.getElementById("error-login");
                            l5.style.display = "inline";
                        }
                    },
                    error: function (x, y, z) {
                        alert(x + '\n' + y + '\n' + z);
                    }
                });
            });
            $("body").on("click", ".btn-edit", function (e) {
                e.preventDefault();
                $("<div id='dialogContent'></div>")
                    .addClass("dialog")
                    .appendTo("body")
                    .load(this.href)
                    .dialog({
                        title: "Editing the song",
                        close: function () { $(this).remove() },
                        width: 390,
                        modal: true,
                        buttons: {
                            "Confirm Edition": function () {
                                let formData = new FormData();
                                var fileInput = $("#fileInput1")[0].files[0];
                                if(fileInput!=null)
                                    formData.append("file", fileInput);
                                else
                                    formData.append("file", $('#fileNameField1').val());
                                formData.append("Name", $('#Name1').val());
                                formData.append("ArtistId", $('#ArtistId1').val());
                                formData.append("StyleId", $('#StyleId1').val());
                                formData.append("Year", $('#Year1').val());
                                formData.append("Album", $('#Album1').val());
                                formData.append("text", $('#text1').val());
                                formData.append("SongId", $('#SongId1').val());
                                $.ajax({
                                    url: "@Url.Action("EditSong", "Admin")",
                                    type: "POST",
                                    contentType: false,
                                    processData: false,
                                    data: formData,
                                    success: function (result) {
                                        if (result) {
                                            alert("successful edition!");
                                            $("#dialogContent").remove()
                                            getAllSongs();
                                        }
                                        else
                                        alert("error of edition song!")
                                    },
                                    error: function (x, y, z) {
                                        alert(x + '\n' + y + '\n' + z);
                                    }
                                });
                            },
                            "Cancel": function () {
                                $("#dialogContent").remove();
                            }
                        }
                    });
            });
            $(".createSong").on("click", function (e) {
                e.preventDefault();
                clearDialog();
                $("<div id='dialogContent'></div>")
                    .addClass("dialog")
                    .appendTo("body")
                    .load(this.href)
                    .dialog({
                        width:500,
                        title: "Adding a song",                     
                        close: function () { $(this).remove() },
                        modal: true,
                        buttons: {
                            "Add the song": function () {
                               let formData = new FormData();
                                var fileInput = $("#fileInput")[0].files[0];
                                formData.append("file", fileInput);
                                formData.append("Name", $('#Name').val());
                                formData.append("ArtistId", $('#ArtistId').val());
                                formData.append("StyleId", $('#StyleId').val());
                                formData.append("Year", $('#Year').val());
                                formData.append("Album", $('#Album').val());
                                formData.append("text", $('#text').val());
                                $.ajax({
                                    url: "@Url.Action("Create", "Song")",
                                    type: "POST",
                                    contentType: false,
                                    processData: false,
                                   data: formData,
                                    success: function (result) {
                                        alert("successful addition!");
                                        $("#dialogContent").remove();
                                        getAllSongs();
                                    },
                                    error: function (x, y, z) {
                                        alert(x + '\n' + y + '\n' + z);
                                    }
                                });
                            },
                            "Cancel": function () {
                                $("#dialogContent").remove();
                            }
                        }
                    });
            });

            $("#Password").on("input", function () {
               
                var password = $("#Password").val();
                var strength = checkPasswordStrength(password);
                $("#password-strength").html(strength);
            });

        });

        $("body").on("click", "#artists", function (e) {
            e.preventDefault();
            clearDialog();
            $("<div id='dialogContent'></div>")
                .addClass("dialog")
                .appendTo("body")
                .load("/Admin/Artists")
                .dialog({
                    title: "Artists",
                    close: function () { $(this).remove() },
                    width: 390,
                    modal: true,
                    buttons: {
                        "Add an Artist": function () {
                            if ($("#FileInput")[0].files[0] == null || $('#Name').val() == "")
                                alert("enter the artist's name and the photo!")
                            else {
                                let formData = new FormData();
                                var fileInput = $("#FileInput")[0].files[0];
                                formData.append("p", fileInput);
                                formData.append("Name", $('#Name').val());
                                $.ajax({
                                    url: "@Url.Action("CreateArtist", "Admin")",
                                    type: "POST",
                                    contentType: false,
                                    processData: false,
                                    data: formData,
                                    success: function (result) {
                                        if (result) {
                                            alert("successfuly added!");
                                            $("#dialogContent").remove()
                                            getAllSongs();
                                        }
                                        else
                                            alert("error of addition artist!")
                                    },
                                    error: function (x, y, z) {
                                        alert(x + '\n' + y + '\n' + z);
                                    }
                                });
                            }
                        },
                        "Delete the Artist": function () {
                            let i = $('#Id').val();
                            $("#dialogContent").remove();
                            $("<div id='dialogContent1'></div>")
                                .addClass("dialog")
                                .appendTo("body")
                                .load("/Admin/DeleteArtist/?id=" + i )
                                .dialog({
                                    width: 370,
                                    title: "Confirm deleting the artist",
                                    close: function () { $(this).remove() },
                                    modal: true,                                  
                                    buttons: {
                                        "Confirm delete": function () {
                                            let formData = new FormData();
                                            formData.append("id", $('#Id').val());
                                            $.ajax({
                                                url: "@Url.Action("ConfirmDeleteArtist", "Admin")",
                                                type: "POST",
                                                contentType: false,
                                                processData: false,
                                                data: formData,
                                                success: function (result1) {
                                                    if (result1) {
                                                        alert("successful deleting!");
                                                        $("#dialogContent1").remove();
                                                        getAllSongs();
                                                    }
                                                    else {
                                                        alert("error of deleting the artist!")
                                                    }
                                                },
                                                error: function (x, y, z) {
                                                    alert(x + '\n' + y + '\n' + z);
                                                }
                                            });
                                        },
                                        "Cancel": function () {
                                            $("#dialogContent1").remove();
                                        }
                                    }
                                });
                           
                        },
                        "Edit the Artist": function () {
                            let i = $('#Id').val();
                            $("#dialogContent").remove();
                            $("<div id='dialogContent1'></div>")
                                .addClass("dialog")
                                .appendTo("body")
                                .load("/Admin/EditArtist/?id=" + i)
                                .dialog({
                                    width: 370,
                                    title: "Confirm edition the artist",
                                    close: function () { $(this).remove() },
                                    modal: true,
                                    buttons: {
                                        "Confirm edit": function () {
                                            let formData = new FormData();
                                            var fileInput = $("#FileInput")[0].files[0];
                                            formData.append("p", fileInput);
                                            formData.append("Id", $('#Id').val());
                                            formData.append("Name", $('#Name').val());
                                            formData.append("photo", $('#fileNameField').val());
                                            $.ajax({
                                                url: "@Url.Action("EditArtist", "Admin")",
                                                type: "POST",
                                                contentType: false,
                                                processData: false,
                                                data: formData,
                                                success: function (result1) {
                                                    if (result1) {
                                                        alert("successful editing!");
                                                        $("#dialogContent1").remove();
                                                        getAllSongs();
                                                    }
                                                    else {
                                                        alert("error of editing the artist!")
                                                    }
                                                },
                                                error: function (x, y, z) {
                                                    alert(x + '\n' + y + '\n' + z);
                                                }
                                            });
                                        },
                                        "Cancel": function () {
                                            $("#dialogContent1").remove();
                                        }
                                    }
                                });

                        },
                        "Cancel": function () {
                            $("#dialogContent").remove();
                        }
                    }
                });
        });
        $("body").on("click", "#genres", function (e) {
            e.preventDefault();
            clearDialog();
            $("<div id='dialogContent'></div>")
                .addClass("dialog")
                .appendTo("body")
                .load("/Admin/Styles")
                .dialog({
                    title: "Genres",
                    close: function () { $(this).remove() },
                    width: 390,
                    modal: true,
                    buttons: {
                        "Add a Genre": function () {
                            if ($('#Name').val() != "") {
                                let formData = new FormData();
                                formData.append("Name", $('#Name').val());
                                $.ajax({
                                    url: "@Url.Action("CreateStyle", "Admin")",
                                    type: "POST",
                                    contentType: false,
                                    processData: false,
                                    data: formData,
                                    success: function (result) {
                                        if (result) {
                                            alert("successfuly added!");
                                            $("#dialogContent").remove()
                                        }
                                        else
                                            alert("error of addition style!")
                                    },
                                    error: function (x, y, z) {
                                        alert(x + '\n' + y + '\n' + z);
                                    }
                                });
                            }
                            else{
                                alert("enter the name of geenre!")
                            }
                        },
                        "Delete the Genre": function () {
                            let i = $('#Id').val();
                            $("#dialogContent").remove();
                            $("<div id='dialogContent1'></div>")
                                .addClass("dialog")
                                .appendTo("body")
                                .load("/Admin/DeleteStyle/?id=" + i)
                                .dialog({
                                    width: 370,
                                    title: "Confirm deleting the style",
                                    close: function () { $(this).remove() },
                                    modal: true,
                                    buttons: {
                                        "Confirm delete": function () {
                                            let formData = new FormData();
                                            formData.append("id", $('#Id').val());
                                            $.ajax({
                                                url: "@Url.Action("ConfirmDeleteStyle", "Admin")",
                                                type: "POST",
                                                contentType: false,
                                                processData: false,
                                                data: formData,
                                                success: function (result1) {
                                                    if (result1) {
                                                        alert("successful deleting!");
                                                        $("#dialogContent1").remove();
                                                        getAllSongs();
                                                    }
                                                    else {
                                                        alert("error of deleting the artist!")
                                                    }
                                                },
                                                error: function (x, y, z) {
                                                    alert(x + '\n' + y + '\n' + z);
                                                }
                                            });
                                        },
                                        "Cancel": function () {
                                            $("#dialogContent1").remove();
                                        }
                                    }
                                });

                        },
                        "Edit the Style": function () {
                            let i = $('#Id').val();
                            $("#dialogContent").remove();
                            $("<div id='dialogContent1'></div>")
                                .addClass("dialog")
                                .appendTo("body")
                                .load("/Admin/EditStyle/?id=" + i)
                                .dialog({
                                    width: 370,
                                    title: "Confirm edition the style",
                                    close: function () { $(this).remove() },
                                    modal: true,
                                    buttons: {
                                        "Confirm edit": function () {
                                            let formData = new FormData();
                                            formData.append("Id", $('#Id').val());
                                            formData.append("Name", $('#Name').val());
                                            $.ajax({
                                                url: "@Url.Action("EditStyle", "Admin")",
                                                type: "POST",
                                                contentType: false,
                                                processData: false,
                                                data: formData,
                                                success: function (result1) {
                                                    if (result1) {
                                                        alert("successful editing!");
                                                        $("#dialogContent1").remove();
                                                        getAllSongs();
                                                    }
                                                    else {
                                                        alert("error of editing the style!")
                                                    }
                                                },
                                                error: function (x, y, z) {
                                                    alert(x + '\n' + y + '\n' + z);
                                                }
                                            });
                                        },
                                        "Cancel": function () {
                                            $("#dialogContent1").remove();
                                        }
                                    }
                                });

                        },
                        "Cancel": function () {
                            $("#dialogContent").remove();
                        }
                    }
                });
        });
        $("body").on("click", "#users", function (e) {
            e.preventDefault();
            clearDialog();
            $("<div id='dialogContent'></div>")
                .addClass("dialog")
                .appendTo("body")
                .load("/Admin/Users")
                .dialog({
                    title: "All Users",
                    close: function () { $(this).remove() },
                    width: 900,
                    modal: true,
                    buttons: {
                        "Cancel": function () {
                            $("#dialogContent").remove();
                        }
                    }
                });
        });
        $("body").on("click", ".userConfirm", function (e) {
            e.preventDefault();
            $("<div id='dialogContent1'></div>")
                .addClass("dialog")
                .appendTo("body")
                .load(this.href)
                .dialog({
                    title: "Change user level",
                    close: function () { $(this).remove() },
                    width: 300,
                    modal: true,
                    buttons: {
                        "Confirm changes": function () {
                            let formData = new FormData();
                            formData.append("level", $('#NewLevel').val());
                            formData.append("id", $('#user_id').val());
                            $.ajax({
                                url: "@Url.Action("EditUser", "Admin")",
                                type: "POST",
                                contentType: false,
                                processData: false,
                                data: formData,
                                success: function (result) {
                                    if (result) {                                      
                                        $("#dialogContent1").remove()
                                        $("#dialogContent").remove();
                                        $("<div id='dialogContent'></div>")
                                            .addClass("dialog")
                                            .appendTo("body")
                                            .load("/Admin/Users")
                                            .dialog({
                                                title: "All Users",
                                                close: function () { $(this).remove() },
                                                width: 800,
                                                modal: true
                                            });
                                    }
                                    else
                                        alert("error of changing level!")
                                },
                                error: function (x, y, z) {
                                    alert(x + '\n' + y + '\n' + z);
                                }
                            });
                        },
                        "Cancel": function () {
                            $("#dialogContent1").remove()
                        }
                    }
                 });
      
        });
        $("body").on("click", ".btn-delete", function (e) {
            e.preventDefault();
            $("<div id='dialogContent'></div>")
                .addClass("dialog")
                .appendTo("body")
                .load(this.href)
                .dialog({
                    title: "Deleting the song",
                    close: function () { $(this).remove() },
                    width: 370,
                    modal: true,
                    buttons: {
                        "Confirm deletion": function () {
                            let formData = new FormData();                                                      
                            formData.append("id", $('#Id').val());
                            $.ajax({
                                url: "@Url.Action("DeleteSongConfirmd", "Admin")",
                                type: "POST",
                                contentType: false,
                                processData: false,
                                data: formData,
                                success: function (result) {
                                    if (result) {
                                        alert("The song was deleted!");
                                        $("#dialogContent").remove()
                                        getAllSongs();
                                    }
                                    else
                                        alert("error of deleting song!")
                                }
                            });
                        },
                        "Cancel":function(){
                            $("#dialogContent").remove();
                        }
                    }
                });

            //var passwordInput = document.getElementById("Password");
            //var strengthMessage = document.getElementById("password-strength");

          
        });

        let checkUserLevel = function () {
            $.ajax({
                url: '@Url.Action("GetUserLevel", "Login")',
                type: 'GET',
                contentType: false,
                processData: false,
                success: function (response) {                   
                    if(response)
                    checkUser(response);
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        };

        let checkUser = function(response){
            if (response == "0") {
                let lw = document.getElementById("wait");
                lw.style.display = "inline";
            }
            else {
                let la = document.getElementById("addSong");
                la.style.display = "inline";
            }
            let ll = document.getElementById("wellcome");
            ll.style.display = "inline";
            let lo = document.getElementById("logout");
            lo.style.display = "inline";
            let lt = document.getElementById("enter");
            lt.style.display = "none";
            $.ajax({
                url: '@Url.Action("GetName", "Login")',
                type: 'GET',
                contentType: false,
                processData: false,
                success: function (response1) {
                    $("#wellcomeTo").html(response1);
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }                    
            });
            if (response == "admin") {              
                let l2 = document.getElementById("artists");
                l2.style.display = "inline";
                let l3 = document.getElementById("genres");
                l3.style.display = "inline";
                let l4 = document.getElementById("users");
                l4.style.display = "inline";
                $(".admin").css("display", "block");
            }
        };

        let login = function () {
            let l = document.getElementById("login");
            l.style.display = "block";
        };

        let loginNone = function () {
            let l = document.getElementById("login");
            l.reset();
            l.style.display = "none";
            ClearLogin();
        };

        // создание строки вывода песни
        let row = function (song) {
           let so="<div class='c3'><div>"+      
             "<div class='card'><h4>"+song.Name+"</h4><div class='text-center'>";
            
            if (song.file.endsWith(".mp4")){ 
               so+="<video controls autoplay='autoplay' loop='loop' muted='muted' width='500' height='300'>"+
                    "<source src=" + song.file + " type='video/mp4'></video>";
            }                                                 
            if (song.file.endsWith(".mp3")) {
                            so+="<div><img src="+song.artistPhoto +" style='width:auto;height:270px'></img></div>"+
                            "<video controls autoplay='autoplay' loop='loop' muted='muted' width='500' height='30'>"+
                    "<source src=" + song.file + " type='video/mp4' > </video>";
            }
         so+="</div></div> </div><div class='c8'></div> <dv><div class='card c5 c11'><div class='c3 b'><div>"+
             "<h1 >"+song.artist+"</h1>"+    
            "<div >"+song.Name+"</div>"+
                            "<div><span class='c6 c10'>Year:</span>&nbsp;"+song.Year+" </div>"+
                            "<div><span class='c6 c10'>Album:</span>&nbsp;"+song.Album+"</div>"+
                            "<div><span class='c6 c10'>genre:</span>&nbsp;"+song.style+"</div>"+
                     "</div><div><img src="+song.artistPhoto+" class='im' alt='photo'></img></div></div> </div>"+
           "<div class='c13'></div>"+
                "<div class='card c5 c12 c15'>"+
                        "<div class='c6 c10'>Text</div>"+
                    "<textarea readonly rows='5' style='resize:none'>"+song.text+"</textarea>"+
                "</div></dv><div class='c9'> <br /> <br /><div class='card c18 c19 text-center'>"+
                "<a href="+song.file+" download >Download</a>"+
                "</div><div class='admin' style='display:none;'> <br /><br />"+
              "<div class='card c18 c19 text-center '>"+
                "<a href='/Admin/EditSong/?id=" + song.Id + "' class='btn-edit' >Edit Song</a>" +
             "</div><div class='card c18 c19 text-center '>"+
                "<a href='/Admin/DeleteSong/?id=" + song.Id + "' class='btn-delete' >Delete Song</a>" +
             "</div> </div> </div>  </div> <br />";
             
             return so;
        };
        function clearDialog() {
            let d = $("#dialogContent");
            if (d != null)
                d.remove();
            let d1 = $("#dialogContent1");
            if (d1 != null)
                d1.remove();
        }
        // Получение всех песен
        function getAllSongs() {
            clearDialog();
            $("#str").val("");
            $("#ss").html("");
            $.ajax({
                url: '@Url.Action("AllSongs", "Home")',
                type: 'GET',
                contentType: false,
                processData: false,
                success: function (response) {
                    let rows = "";
                    let song = JSON.parse(response);
                    $.each(song, function (index, song) {
                        rows += row(song);
                       
                    })
                    $("#ss").html(rows);
                    checkUserLevel();
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });            
        }
        function FindSongs() {
            clearDialog();
            let formData = new FormData();
            formData.append("str", $("#str").val());
            $.ajax({                
                url: '@Url.Action("Find", "Home")',
                type: 'POST',
                contentType: false,
                processData: false,
                data: formData,
                success: function (response) {
                    let rows = "";
                    let song = JSON.parse(response);
                    $.each(song, function (index, song) {
                        rows += row(song);

                    })
                    $("#ss").html(rows);
                    checkUserLevel();
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });            
        }
        let registr = function () {
            let l = document.getElementById("registrationForm");
            l.style.display = "block";
            let l1 = document.getElementById("ss");
            l1.style.display = "none";
        };
        let registrNone = function () {
            let l = document.getElementById("registrationForm");
            l.reset();
            l.style.display = "none";
            ClearRegistr();
            let l1 = document.getElementById("ss");
            l1.style.display = "block";
        };
        let ClearRegistr = function () {
            $("#Login").val("");
            $("#Reg_Password1").val("");
            $("#Reg_Password2").val("");
        };
        let ClearLogin = function () {
            $("#log").val("");
            $("#pass").val("");
        };
        function checkPasswordStrength(password) {
        // Проверяем минимальную длину пароля
        if (password.length < 8) {
                return "at least 8 characters.";
        }
        // Проверяем наличие хотя бы одной прописной буквы (A-Z)
        if (!/[A-Z]/.test(password)) {
            return "at least one (A-Z).";
        }
        // Проверяем наличие хотя бы одной строчной буквы (a-z)
        if (!/[a-z]/.test(password)) {
                return "at least one (a-z).";
        }
        // Проверяем наличие хотя бы одной цифры (0-9)
        if (!/\d/.test(password)) {
                return "at least one (0-9).";
        }
        // Проверяем наличие хотя бы одного специального символа
        if (!/[!#\$%^&*()_+{}\[\]:;<>,.?~\\-]/.test(password)) {
                return "at least one special symbol.";
        }
        // Если пароль прошел все проверки, считаем его надежным
        return "";
    }

   

    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<div class="end">
<form id="login" class="card c22 non">
        <label>@Resources.Resource.loginN</label>
        <span id="error-login" style="color:red;display:none;">@Resources.Resource.unlogpass</span>
    <div >
        <input type="text" class="form-control" id="log" required>
    </div>

    <div>
            <label>@Resources.Resource.password</label>
        <div>
            <input type="password" class="form-control" id="pass" required>
        </div>
    </div>

    <div>        
        <div>
                <a href="javascript:void(0)" class="nav-link text-dark card2 but" id="btn-log">@Resources.Resource.Enter</a>
                <a href="javascript:void(0)" class="nav-link text-dark card2 but" id="btn-cancel-log">@Resources.Resource.Cancel</a>
        </div>
    </div>
</form>
</div>
<div class="center">
    <form id="registrationForm" class="non" action="Registration" method="post">
        
        @Html.AntiForgeryToken()
        <div class="card c22">
            @Html.ValidationSummary(true, "")
            <span id="error-Reg" style="color:red;display:none;">@Resources.Resource.fields</span>
            <span id="error-RegPass" style="color:red;display:none;">@Resources.Resource.passnoteq</span>
            <div>
                @Html.DisplayNameFor(model => model.Login)
                <div>
                    @Html.EditorFor(model => model.Login, new { id = "login" })
                    <span id="error-log" style="color:red; display:none">@Resources.Resource.loginused</span>
                    <span asp-validation-for="Login" class="text-danger"></span>
                </div>
            </div>

            <div>
                @Html.DisplayNameFor(model => model.Password)
                <span id="password-strength" style="color:red;"></span>
                <div>
                    @Html.PasswordFor(model => model.Password, new { id = "Password" })
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>

            <div>
                @Html.DisplayNameFor(model => model.PasswordConfirm)

                <div>
                    @Html.PasswordFor(model => model.PasswordConfirm)
                    <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
                </div>
            </div>
            <div>
                @Html.DisplayNameFor(model => model.email)
                <div>
                    <span id="error-email" style="color:red; display:none">@Resources.Resource.emailused</span>
                    @Html.EditorFor(model => model.email, new { id = "emailInput" })
                    <span asp-validation-for="email" id="emailStatus" class="text-danger"></span>
                </div>
            </div>  <div>
                @Html.DisplayNameFor(model => model.age)
                <div>
                    <span id="error-age" style="color:red; display:none">@Resources.Resource.unage</span>
                    @Html.EditorFor(model => model.age)
                    <span asp-validation-for="age" class="text-danger"></span>
                </div>
            </div>
            <div>
                <br />
                <div>
                    <a href="javascript:void(0)" class="nav-link text-dark card2 but" id="btn-registration">@Resources.Resource.Confirm</a>
                    <a href="javascript:void(0)" class="nav-link text-dark card2 but" id="btn-cancel-registration">@Resources.Resource.Cancel</a>
                </div>
            </div>
        </div>
    </form>
</div>
<br />

<div id="ss"> </div>
