@using Microsoft.AspNetCore.Http
@model MusikPortal.Models.RegisterModel
@section Scripts{
    <script>
        $(document).ready(function () {
            registrNone();
            getAllSongs();

            $("body").on("click", ".btn-music", function () {
                $("#str").val("");
                registrNone();
                loginNone();
                getAllSongs();
            });

            $("body").on("click", ".btn-Login", function () {
                registrNone();
                login();
            });
            $("body").on("click", ".btn-Logout", function () {
                $.ajax({
                    url: '@Url.Action("Logout", "Login")',
                    type: 'GET',
                    contentType: false,
                    processData: false,
                    success: function (response) {                      
                        let l = document.getElementById("wellcome");
                        l.style.display = "none";
                        let lt = document.getElementById("enter");
                        lt.style.display = "flex";
                        let lm = document.getElementById("wait");
                        lm.style.display = "none";
                        let lg = document.getElementById("logout");
                        lg.style.display = "none";
                        let l2 = document.getElementById("artists");
                        l2.style.display = "none";
                        let l3 = document.getElementById("genres");
                        l3.style.display = "none";
                        let l4 = document.getElementById("users");
                        l4.style.display = "none";
                        let ls = document.getElementById("addSong");
                        ls.style.display = "none";
                        $(".admin").css("display", "none");
                    },
                    error: function (x, y, z) {
                        alert(x + '\n' + y + '\n' + z);
                    }
                });
            });

            $("body").on("click", ".btn-Reg", function () {
                loginNone();
                registr();
            });
            $("body").on("click", ".btn-find", function () {
                registrNone();
                loginNone();
               FindSongs();
            });
           
           $("#btn-registration").on("click", function () {
                let formData1 = new FormData();
                formData1.append("Login", $("#Login").val());
                $.ajax({
                    url: '@Url.Action("IsLoginInUse", "Login")',
                    type: 'POST',
                    contentType: false,
                    processData: false,
                    data: formData1,
                    success: function (response) {
                        if (response) {
                            alert("login is used!")
                            let l1 = document.getElementById("error-log");
                            l1.style.display = "inline";
                        }
                        else {
                            let formData2 = new FormData();
                            formData2.append("Email", $("#email").val());
                            $.ajax({
                                url: '@Url.Action("IsEmailInUse", "Login")',
                                type: 'GET',
                                contentType: false,
                                processData: false,
                                data: formData2,
                                success: function (response1) {
                                    if (response1) {
                                        alert("email is used!")
                                        let l2 = document.getElementById("error-email");
                                        l2.style.display = "inline";
                                    }
                                    else
                                    {
                                        let formData = new FormData();
                                        formData.append("Login", $("#Login").val());
                                        formData.append("Password", $("#Password").val());
                                        formData.append("PasswordConfirm", $("#PasswordConfirm").val());
                                        formData.append("Email", $("#email").val());
                                        formData.append("Age", $("#age").val());
                                        $.ajax({
                                            url: '@Url.Action("Registration", "Login")',
                                            type: 'POST',
                                            contentType: false,
                                            processData: false,
                                            data: formData,
                                            success: function (response2) {                                               
                                                if(response2)
                                                {
                                                   if(response2=="age")
                                                   {
                                                        let l3 = document.getElementById("#error-age");
                                                        l3.style.display = "inline";
                                                   }
                                                   else{ 
                                                       alert("registration is successful!");
                                                       registrNone();
                                                       ClearRegistr();
                                                       login();
                                                   }
                                                }
                                            },
                                            error: function (x, y, z) {
                                                alert(x + '\n' + y + '\n' + z);
                                            }
                                        });
                                    }
                                },
                                error: function (x, y, z) {
                                    alert(x + '\n' + y + '\n' + z);
                                }
                            });
                          
                        }
                    },
                    error: function (x, y, z) {
                        alert(x + '\n' + y + '\n' + z);
                    }
                });



            });
            $("#Login").on("focus", function () {
                let l1 = document.getElementById("error-Rlogin");
                l1.style.display = "none";
            });

            $("#btn-log").on("click", function () {
                let formData = new FormData();
                formData.append("Login", $("#log").val());
                formData.append("Password", $("#pass").val());
                $.ajax({
                    url: '@Url.Action("Login", "Login")',
                    type: 'POST',
                    contentType: false,
                    processData: false,
                    data: formData,
                    success: function (response) {
                        if (response) {
                            let l1 = document.getElementById("error-login");
                            l1.style.display = "none";
                            loginNone();
                            ClearLogin();
                            if(response=="0")
                            {
                                let lw = document.getElementById("wait");
                                lw.style.display = "inline";
                            }
                            else
                            { 
                              let la = document.getElementById("addSong");
                              la.style.display = "inline";
                            }
                            let ll = document.getElementById("wellcome");
                            ll.style.display = "inline";
                            let lo = document.getElementById("logout");
                            lo.style.display = "inline";
                            let lt = document.getElementById("enter");
                            lt.style.display = "none";                           
                            $.ajax({
                                url: '@Url.Action("GetName", "Login")',
                                type: 'GET',
                                contentType: false,
                                processData: false,
                                success: function (response1) {
                                    $("#wellcomeTo").html(response1);
                                },
                                error: function (x, y, z) {
                                    alert(x + '\n' + y + '\n' + z);
                                }
                            });
                            if(response=="admin")
                            {
                                let l2 = document.getElementById("artists");
                                l2.style.display = "inline";
                                let l3 = document.getElementById("genres");
                                l3.style.display = "inline";
                                let l4 = document.getElementById("users");
                                l4.style.display = "inline";                               
                                $(".admin").css("display", "block");
                            }
                        }
                        else {
                            let l5 = document.getElementById("error-login");
                            l5.style.display = "inline";
                        }
                    },
                    error: function (x, y, z) {
                        alert(x + '\n' + y + '\n' + z);
                    }
                });
            });
            $(".createSong").on("click", function (e) {
                e.preventDefault();               
                $("<div id='dialogContent'></div>")
                    .addClass("dialog")
                    .appendTo("body")
                    .load(this.href)
                    .dialog({
                        width:500,
                        title: "Adding a song",                     
                        close: function () { $(this).remove() },
                        modal: true,
                        buttons: {
                            "Add the song": function () {
                               let formData = new FormData();
                                //formData.append("forma", $('#form').serialize());
                                //let formData1 = new FormData();
                                var fileInput = $("#fileInput")[0].files[0];
                                formData.append("file", fileInput);
                                formData.append("Name", $('#Name').val());
                                formData.append("ArtistId", $('#ArtistId').val());
                                formData.append("StyleId", $('#StyleId').val());
                                formData.append("Year", $('#Year').val());
                                formData.append("Album", $('#Album').val());
                                formData.append("text", $('#text').val());
                                $.ajax({
                                    url: "@Url.Action("Create", "Song")",
                                    type: "POST",
                                    contentType: false,
                                    processData: false,
                                   // data: $('#form').serialize(),
                                   data: formData,
                                  // datatype: "json",
                                    success: function (result) {

                                        $("#dialogContent").html(result);
                                        getAllSongs();
                                    }
                                });
                            }
                        }
                    });
            });

        });

        let login = function () {
            let l = document.getElementById("login");
            l.style.display = "block";
        };
        let loginNone = function () {
            let l = document.getElementById("login");
            l.style.display = "none";
        };
        // создание строки для таблицы
        let row = function (song) {
           let so="<div class='c3'><div>"+      
             "<div class='card'><h4>"+song.Name+"</h4><div class='text-center'>";
            
          if (song.file.endsWith(".mp4")){ 
            so+="<video controls autoplay='autoplay' loop='loop' muted='muted' width='500' height='300'>"+
                    "<source src=" + song.file + " type='video/mp4'></video>";
            }                                                 
            if (song.file.endsWith(".mp3")) {
                            so+="<div><img src="+song.artist.photo+" style='width:auto;height:270px'></img></div>"+
                            "<video controls autoplay='autoplay' loop='loop' muted='muted' width='500' height='30'>"+
                    "<source src=" + song.file + " type='video/mp4' > </video>";
            }
         so+="</div></div> </div><div class='c8'></div> <dv><div class='card c5 c11'><div class='c3 b'><div>"+
             "<h1 >"+song.artist+"</h1>"+    
            "<div >"+song.Name+"</div>"+
                            "<div><span class='c6 c10'>Year:</span>&nbsp;"+song.Year+" </div>"+
                            "<div><span class='c6 c10'>Album:</span>&nbsp;"+song.Album+"</div>"+
                            "<div><span class='c6 c10'>genre:</span>&nbsp;"+song.style+"</div>"+
                     "</div><div><img src="+song.artistPhoto+" class='im'></img></div></div> </div>"+
           "<div class='c13'></div>"+
                "<div class='card c5 c12 c15'>"+
                        "<div class='c6 c10'>Text</div>"+
                    "<textarea readonly rows='5' style='resize:none'>"+song.text+"</textarea>"+
                "</div></dv><div class='c9'> <br /> <br /><div class='card c18 c19 text-center'>"+
                "<a href="+song.file+" download>download</a>"+
                "</div><div class='admin' style='display:none;'> <br /><br />"+
              "<div class='card c18 c19 text-center'>"+
                 "<a asp-controller='Admin' asp-action='EditSong' asp-route-id="+song.Id+">Edit Song</a>"+
             "</div><div class='card c18 c19 text-center'>"+
                  "<a asp-controller='Admin' asp-action='DeleteSong' asp-route-id="+song.Id+">Delete Song</a>"+
             "</div> </div> </div>  </div> <br />";
             
             return so;
        };

        // Получение всех студентов
        function getAllSongs() {            
            $.ajax({
                url: '@Url.Action("AllSongs", "Home")',
                type: 'GET',
                contentType: false,
                processData: false,
                success: function (response) {
                    let rows = "";
                    let song = JSON.parse(response);
                    $.each(song, function (index, song) {
                        rows += row(song);
                       
                    })
                    $("#ss").html(rows);
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }
        function FindSongs() {
            let formData = new FormData();
            formData.append("str", $("#str").val());
            $.ajax({                
                url: '@Url.Action("Find", "Home")',
                type: 'POST',
                contentType: false,
                processData: false,
                data: formData,
                success: function (response) {
                    let rows = "";
                    let song = JSON.parse(response);
                    $.each(song, function (index, song) {
                        rows += row(song);

                    })
                    $("#ss").html(rows);                    
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }
        let registr = function () {
            let l = document.getElementById("registrationForm");
            l.style.display = "block";
        };
        let registrNone = function () {
            let l = document.getElementById("registrationForm");
            l.style.display = "none";
        };
        let ClearRegistr = function () {
            $("#Login").val("");
            $("#Reg_Password1").val("");
            $("#Reg_Password2").val("");
        };
        let ClearLogin = function () {
            $("#log").val("");
            $("#pass").val("");
        };


    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<div class="end">
<div id="login" class="card c22 non">
    <label>Login</label>
    <span id="error-login" style="color:red;display:none;">*не верный логин или пароль</span>
    <div >
        <input type="text" class="form-control" id="log" required>
    </div>

    <div>
        <label>Password</label>
        <div>
            <input type="password" class="form-control" id="pass" required>
        </div>
    </div>

    <div>        
        <div>
            <a href="javascript:void(0)" class="nav-link text-dark card2 but" id="btn-log">Enter</a>
        </div>
    </div>
</div>
</div>
<div class="center">
    <form id="registrationForm" action="Registration" method="post">
        @Html.AntiForgeryToken()
        <div class="card c22">
            @Html.ValidationSummary(true, "")
            <div>
                @Html.DisplayNameFor(model => model.Login)
                <div>
                    @Html.EditorFor(model => model.Login, new { id = "login" })
                    <span id="error-log" style="color:red; display:none">Login is used</span>
                    <span asp-validation-for="Login" class="text-danger"></span>
                </div>
            </div>

            <div>
                @Html.DisplayNameFor(model => model.Password)
                <div>
                    @Html.PasswordFor(model => model.Password, new { id = "Password" })
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>

            <div>
                @Html.DisplayNameFor(model => model.PasswordConfirm)

                <div>
                    @Html.PasswordFor(model => model.PasswordConfirm)
                    <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
                </div>
            </div>
            <div>
                @Html.DisplayNameFor(model => model.email)
                <div>
                    <span id="error-email" style="color:red; display:none">Login is used</span>
                    @Html.EditorFor(model => model.email, new { id = "emailInput" })
                    <span asp-validation-for="email" id="emailStatus" class="text-danger"></span>
                </div>
            </div>  <div>
                @Html.DisplayNameFor(model => model.age)
                <div>
                    <span id="error-age" style="color:red; display:none">Login is used</span>
                    @Html.EditorFor(model => model.age)
                    <span asp-validation-for="age" class="text-danger"></span>
                </div>
            </div>
            <div>
                <br />
                <div>
                    <a href="javascript:void(0)" class="nav-link text-dark card2 but" id="btn-registration">Confirm</a>
                </div>
            </div>
        </div>
    </form>
</div>
<br />

<div id="ss"> </div>
