@using Microsoft.AspNetCore.Http

 @foreach (var s in ViewBag.Songs)
 {   <div class="c3">
       <div>
        <h3 class="c4">@s.artist.Name</h3> 
             <div class="card">
             <h4>@s.Name</h4>
            <div class="c c2">@s.Year</div>
      <div class="text-center">
            <video controls autoplay="autoplay" loop="loop" muted="muted" width="600" height="400">
            <source src=@s.file type="video/mp4">
           </video>
         </div>

                <div class="c c2">@s.style.Name</div>
            </div>
        </div>
        @if (Context.Session.GetString("admin") != null)
        {
            <div class="navbar-collapse collapse d-sm-inline-flex c c1">
                <div>
                @using (Html.BeginForm("EditSong", "Admin", FormMethod.Post))
                {
                        <div>
                            <input type="hidden" value=@s.Id />&nbsp;
                        </div>
                    <div>
                        <input type="submit" value="Edit Song" />&nbsp;
                    </div>
                }
                </div><br /><div>
                    <a asp-controller="Admin" asp-action="DeleteSong" asp-route-id="@s.Id">Delete Song</a>
                </div>
            </div>
        }
  
    </div>
    <br />
 }
