@using Microsoft.AspNetCore.Http

 @foreach (var s in ViewBag.Songs)
 {   <div class="c3">
       <div>
      
             <div class="card">
             <h4>@s.Name</h4>
           
      <div class="text-center">
            <video controls autoplay="autoplay" loop="loop" muted="muted" width="500" height="300">
            <source src=@s.file type="video/mp4">
           </video>
         </div>

            
            </div>
        </div>
       <div class="c8"></div>
        <div class="card c5">
             <h1 >@s.artist.Name</h1> <br/>     
            <div >@s.Name</div>
            <div class="c c7"><span class="c6 ">Year:</span>&nbsp;@s.Year </div>
            <div class="c c7"><span class="c6">genre:</span>&nbsp;@s.style.Name</div>
            <div class="c c7"><span class="c6">Album:</span>&nbsp;@s.Album</div>
            @if (@s.text != null)
            {
               
                    <div>Text </div>
                    <textarea readonly rows="4">@s.text</textarea><br /><br />              
            }
        </div>
        <div class="c9">
        @if (Context.Session.GetString("admin") != null)
        {
                <br />
                <br />
             <div>
                 <a asp-controller="Admin" asp-action="EditSong" asp-route-id="@s.Id">Edit Song</a>
             </div>
                   
              <div >
                  <a asp-controller="Admin" asp-action="DeleteSong" asp-route-id="@s.Id">Delete Song</a>
             </div>
        }
        </div>
    </div>
    <br />
 }
