@model MusicPortal.BLL.DTO.SongDTO



    <div class="card c7a">
        <form formaction="Delete" asp-controller="Admin" method="post" >
            <input asp-for="Id" type="hidden" />
            <div class="form-group">
            <span>@Resources.Resource.Songname  </span><br />
                <input asp-for="Name" class="form-control" readonly />
            </div>
        <span>@Resources.Resource.Album </span><br />
            <input asp-for="Album" class="form-control" readonly/>
            <div class="form-group">
            <label>@Resources.Resource.Style</label>
                <input asp-for="style" class="form-control" readonly />
            </div>
            <div class="form-group">
            <label>@Resources.Resource.Artist</label>
                <input asp-for="artist" class="form-control" readonly/>
            </div>
            <div class="form-group">
            <span>@Resources.Resource.Year</span><br />
                <input asp-for="Year" class="form-control" readonly/>
            </div>            
            @*<span>File</span><br />
        <input asp-for="file" class="form-control"  readonly="readonly" />*@
                
        </form>
       
    </div>
    
